<!DOCTYPE html>
<html>

<head>
    <title>
        Home - FER
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
    .page {text-align: center;}

</style>
</head>

<body style="background-color:#EEEEEE;">
<br>
<div class="page">
<div class ="title">Home Page</div>
<div class="text">
<p>Welcome to Faciel Emotion Recognition app!</p>
<p>This API is an automated tool for facial emotion recognition using DAN model.</p>
</div>
<p>
<br>
<div class="image">
<a href="upload_image/">Upload image</a></div>
<div class="video">
<a href="upload_video/">Upload video</a></div>
<br>
</p>
<div class="info has-text-danger">
<p>Video mode has not been implemented yet.</p></div>
</div>
</body>

</html>